html {
    height: 100%;
    font-family: sans-serif;
}

body {
    background: linear-gradient(to bottom, transparent, rgb(209, 136, 238));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    background-color: white;
    border-radius: 5%;
    padding: 2rem;
    font-weight: 700;
    box-shadow: 0 0 10px, rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    width: 300px;
}

form input,
form select,
form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 10px, rgba(0, 0, 0, 0.3);
    border: none;
    padding: 1em;
}

form button {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    background-color: rgb(121, 63, 144);
    border: 2px solid rgba(0, 0, 0, 0.2); /* Added border */
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Added shadow */
    margin-bottom: 10px; /* Added margin */
}

form button:hover {
    background-color: rgb(85, 46, 100);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

form .errorlist li {
    list-style-type: none;
    color: red;
}

@media screen and (max-width: 600px) {
    form {
        width: 90%;
    }
}
